<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kdiff" version="9">

  <MenuBar >
    <Menu name="file" >
      <text>&amp;File</text>
      <Action name="compare_files" />
      <Action name="open_diff" />
      <Action name="blend_diff" />
      <Merge />
      <Action name="swap" />
    </Menu>
    <Merge />
  <Menu name="settings"><text>&amp;Settings</text>
  </Menu>
    <Menu name="help">
      <text>&amp;Help</text>
      <Action name="help_about_editor" append="about_merge"/>
    </Menu>
  </MenuBar>
  <ToolBar noMerge="1" name="mainToolBar">
    <text>Main Toolbar</text>
      <Action name="compare_files" />
    <Merge/>
  </ToolBar>
</kpartgui>